.about-container{
    margin-top: 100px;
}

.site-category{
    width: 30%;
    padding-left: 80px;
}


.site-category h2{
    border-bottom: 2px solid rgba(0,0,0,0.1);
    display: inline;
    padding: 5px 0;
}
.site-category-contents a{
    color: #000;
    padding: 10px 0; 
}
.site-category-contents a:hover{
    color: #ff5959;
}
.site-category-contents{
    margin-top: 20px;
}
.about-us{
    width: 50%;
}

.about-us strong{
    font-size: 18px;
    color #000;
}

