.product-container{
    margin-top: 80px;
    width: 100%;
    height: 90vh;
}


.product-img-list{
    width: 20%;
}

.product-img-list .product-img{
    width: 100px;
    height: 100px;
    margin: 8px;
    background: #fff;
    border: 1px solid rgba(0,0,0,0.1);
}

.main-product-img{
    width: 400px;
    height: 400px;
    border: 1px solid rgba(0,0,0,0.1);
    background: #fff;
    transition: transform .2s ease-in-out;

}

.main-product-img:hover{
    transform: scale(1.3)
}
.product-info{
    width: 30%;
}
.product-price h1{
    padding: 5px 0;
    margin: 0;
    font-weight: 400;
    text-align: left;
}
.product-name{
    text-align: left;
    margin-right: 10px;
    font-weight: bolder;
}
.product-size{
    margin: 20px 0;
}

.size-title{
    margin: 20px 0;
}

.size-list-btn button{
    width: 40px;
    height: 40px;
    border: 1px solid rgba(0,0,0,0.1);
    outline: none;
}
.product-amount {
    margin: 20px 0;
}
.product-amount input{
    width: 80px;
    height: 30px;
    padding: 5px;
    border: 1px solid rgba(0,0,0,.1);
    font-size: 18px
}

.add-to-card-btn{
    width: 180px;
    height: 60px;
    font-size: 16px;
    background: #0099ff;
    border: none;
    outline: none;
    color: #fff;
}
.add-to-card-btn:hover{
    background: #005c99;
}



