body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    font-size: 16px;
}
ul {
    list-style-position: inside;
    padding-left: 0;
}
p{
    padding: 0;
    margin: 0;
}
.main-container{
    padding-top: 80px;
}
.flex{
    display: flex;
}

.flex-row{
    flex-direction: row;
}

.flex-column{
    flex-direction: column;
}
.flex-end{
    justify-content: flex-end;
}
.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.space-around{
    justify-content: space-around;
}
.space-between{
    justify-content: space-between;
}

.list-style-none{
    list-style-type: none;
    margin-left: auto;
}

.header{
    width: 100%;
    height:80px;
    background: #061826;
    position: fixed;
    top: 0;
    left: 0;
}

.nav{
    width: 40%
}

.list-items{
    width: 100%;
}

.list-items{
    width: 100%;
    padding: 0;
    margin: 0;
    height: 100%
}

.list-items li{
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}
.nav-item-trang-chu::before,.nav-item-san-pham::before,.nav-item-khuyen-mai::before,.nav-item-lien-he::before,.nav-item-gioi-thieu::before{
    content: '';
    width: 0%;
    height: 1px;
    top: 99%;
    background: #fff;  
    z-index: 1000;
    position: absolute;
    transition: width .2s ease-in-out;
}
.nav-item-trang-chu:hover::before{
    width: 100%;
}
.nav-item-san-pham:hover::before{
    width: 100%;
}
.nav-item-khuyen-mai:hover::before{
    width: 100%;
}
.nav-item-lien-he:hover::before{
    width: 100%;
}
.nav-item-gioi-thieu:hover::before{
    width: 100%;
}
.list-items ul li{
    width: 15%;
}
.list-items li a{
    text-decoration: none;
    width: 100%;
    color: #fff;
    font-family: Helvetica-Bold;
    font-size: 14px;
    display: block;
    overflow: hidden;
}

.nav-items{
    width: 20%;
}
.nav-items i{
    color: #fff;
    font-size: 20px;
    padding: 0 5%;
    cursor: pointer;
}

.banner{
    margin-top: 80px;
    width: 100%;
    height: 75vh;
    background: #000;
}           

.sale-content {
    margin-top: 20px;;
    width: 50%;
    height: 60vh;
    background-image: url("../images/background/handbag-1478814.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    animation: background-zoom 15s ease-in-out  infinite;
}

@keyframes background-zoom{
    0%{
        background-size: 100%;
    }
    50%{
        background-size: 130%;
    }
    50%{
        background-size: 130%;
    }
    100%{
        background-size: 100%;
    }
}

.sale-title{
    position: absolute;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 400;
    padding-top: 20px;
}
.sale-content:hover{
    background-size: 130%;
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: .6;
}

.countdown{
    width: 100%;
    height: 100%;
    margin-top: 20%;
}

.countdown div{
    position:relative;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background: rgba(51,51,51,0.5);
    color: #fff;
    margin: 0 15px;
    font-size: 24px;
}

.countdown div:before{
    content: '';
    background: #fff;
    color: #000;
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 100%;
    height: 50px;
}
.countdown div#day:before{
    content: "Days";
    line-height: 50px;
    font-size: 22px;
}
.countdown div#hour:before{
    content: "Hours";
    line-height: 50px;
    font-size: 22px;
}
.countdown div#minute:before{
    content: "Minutes";
    line-height: 50px;
    font-size: 22px;
}
.countdown div#second:before{
    content: "Seconds";
    line-height: 50px;
    font-size: 22px;
}
.main-container{
    margin-top: 20px;
    height: 100%;
}
.menu-items{
    margin : 0  15px;
    width: 15%;
    height: 60vh;
    background : #061826;
    position: sticky;
    top: 20%;
}
h1{
    color: #fff;
    text-align: center;
}

i{
    color: #fff
}

.item{
    padding: 20px 25px;
    position : relative;
}

.item a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}
.list-ao,.list-quan,.list-balo,.list-giay{
    box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.5);
    color: #fff;
    position: absolute;
    left: 100%;
    top: 0%;
    background: #061826;
    width: 200px;
    list-style:  none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    margin: 0;
    list-style-position: outside;
}
.item ul li
{
    padding: 20px 25px;
    cursor: pointer;
}
.item ul li a{
    display: block;
}

.item ul li:hover{
    background: #3685B5;
}

.item i{
    transition: transform .3s ease-in-out
}
.item:hover i {
    transform: rotate(180deg)    
}
.item:hover{
    background: #3685B5;
}
.item-ao:hover .list-ao{
 display: block;   
}
.item-quan:hover .list-quan{
    display: block;
}
.item-balo:hover .list-balo{
    display: block;
}

.item-giay:hover .list-giay{
    display: block;
}

/*------------------------sale-items----------------------*/
.sale-items{
    width: 85%;
}
.sale-header{
    background: #3685B5;
    width: 100%;
    height: 70px;
}
.sale-header p{
    margin: 0; 
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    padding: 0 40px;
}
.sale-list-items{
    width: 100%;
    height: 50%;
}
.sale-item{
    width: 18%;
    height: 70%;
    border: 1px solid rgba(0,0,0,0.1);
}
.sale-item a{
    text-align: center;
}
.sale-item img{
    width: 80%;
    transition: transform .2s ease-in-out;
    cursor: pointer;
}


.sale-item-add{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    background: linear-gradient(to right, black 50%, white 50%);
    background-size: 200% 100%;
    background-position: left bottom;
    transition: all .3s ease-in;
    cursor: pointer;
    border-top: 1px solid rgba(0,0,0,.1)
}

.sale-item-add:hover{
    background-position: right bottom;
    color: #000;
}

.sale-item-price{
font-family: Helvetica-Light;
font-size: 20px;
}
.sale-item-id{
    font-weight: bold;
}



/*----------------------Register---------------------*/
.register-form{
    width: 30%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.register-title{
    text-align: center;
    color:#00b3ff;
}
.form-label{
    font-size: 20px;
    margin: 5px 0;
}

.input-form {
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: .25rem;
    height: 35px;
    margin: 5px 0;
    font-size: 18px;
}
.gender-option{
    width:55%;
}

.btn-submit{
    width: 90px;
    height: 40px;
    font-size: 18px;
    background: #0069d9;
    border-color: #0062cc;
    outline: none;
    border-radius: .25rem;
    color: #fff;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.btn-submit:hover{
    background: #005bbd;
}

.error{
    border: 1px solid rgba(214,0,0,0.8);
    border-radius: .25rem;
    height: 35px;
    margin: 5px 0;
    font-size: 18px;
}
